<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
        .pink{
            background:darksalmon;
        }
        </style>
</head>

<body>

    <div id="app">

        <h1 class="text-center">todolist</h1>

        <form class="form-inline text-center">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="searchName" placeholder="请输入过滤商品名">
                </div>
                <button type="submit" class="btn btn-default" @click.prevent="filProduct()">过滤</button>
        </form>

        <form class="form-inline text-center">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" v-model="proName" id="exampleInputName2" placeholder="请输入商品名">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">price</label>
                <input type="number" class="form-control"  v-model.number="proPrice" id="exampleInputEmail2" placeholder="请输入价格">
            </div>
            <button type="submit" class="btn btn-default" @click.prevent="add()">添加</button>
        </form>

        <table class="table table-bordered text-center">
            <thead>
                <td>选择</td>
                <td>商品名称</td>
                <td>商品价格</td>
                <td>删除</td>
            </thead>
            <tbody>
                <!-- key: -->
                <tr v-for="(item, index) in showList" :key="item" @click="change(item)" :class="{pink:item.isPink}">
                    <td><input type="checkbox" v-model="item.isPink"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><button type="button" class="btn btn-warning glyphicon glyphicon-remove btn-xs" @click.stop="del(index)"></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-danger btn-xs" @click="delChecked()">删除选中</button></td>
                    <td colspan="3">总价是: {{this.Sum}} 元</td>
                    <td colspan="3">总价是: {{total}} 元</td>
                    
                </tr>
            </tbody>
        </table>


    </div>


    <script src="vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                productList: [
                    {
                        name: '衣服',
                        price: 123,
                        isPink:false
                    }, {
                        name: '裤子',
                        price: 234,
                        isPink:false
                    }, {
                        name: '手机',
                        price: 8888,
                        isPink:false
                    }, {
                        name: '鞋',
                        price: 777,
                        isPink:false
                    }
                ],
                showList:[
                {
                        name: '衣服',
                        price: 123,
                        isPink:false
                    }, {
                        name: '裤子',
                        price: 234,
                        isPink:false
                    }, {
                        name: '手机',
                        price: 8888,
                        isPink:false
                    }, {
                        name: '鞋',
                        price: 777,
                        isPink:false
                    }
                ],  //用来显示的数组
                proName:'',
                proPrice:0,
                Sum:0,
                searchName:''
            },
            methods:{
                add(){
                    this.productList.push({
                        // 取到name  和 price添加到  productList数组中
                        name:this.proName,
                        price:this.proPrice,
                        isPink:false
                    })
                    this.showList = [...this.productList];
                },
                del(index){
                    this.productList.splice(index,1);
                    this.showList = [...this.productList];
                },
                filProduct(){
                    let searchList = this.productList.filter((obj,index) => {
                        //搜索关键字
                        return obj.name.includes(this.searchName);
                    });
                    this.showList = [...this.searchList];
                },
                change(item){
                    //只改变了showlist里面
                    item.isPink = !item.isPink;
                    //求和的方法之一
                    if(item.isPink)
                        this.Sum += item.price;
                    else
                        this.Sum -= item.price;
                },
                delChecked(){
                    //求和的方法之二
                    //这种方法会导致每一次循环后最后一个的isPink值会改变，删除不掉
                    // this.productList.forEach((obj,index) => {
                    //     if(obj.isPink){
                    //         this.productList.splice(index,1);  
                    //     }
                    // })
                    let arr = this.productList.filter(function(obj,index){
                        //过滤出所有isPink为false的,返回一个新的数组
                        return !obj.isPink;
                    })
                    this.productList = arr;
                    this.showList = [...this.productList];
                }
            },
            computed:{
                    total(){
                        let sum = 0;
                        this.productList.forEach(function(obj,index){
                            if(obj.isPink){
                                sum += obj.price;
                            }
                        });
                        return sum;
                    }
            }
        });
    </script>

</body>

</html>